body{
    background-color: black;
    background-image: url("https://cdna.artstation.com/p/assets/images/images/031/538/850/original/petro-kosariekov-portal-gun-rick-and-morty2-2.gif?1603902186");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 52%;
}

.container{
    padding-top: 500px;
    padding-bottom: 0px;
    display: grid;
    height: 100vh;
}


main{
    display: flex;
    height: 10vh;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
}

form{
    font-family: 'Creepster';
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: space-evenly;
    align-items: center;
    color: black;

}


/* .flex-ctr {
    /* display: flex;
    align-items: flex-end;
    justify-content: space-around;
    align-content: flex-end; */
    




